{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'pessoa/css/bootstrap.css' %}" />

<div class="container" style="margin-top:50px">
    <h1>Pessoas</h1>
    {% if object_list %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Data Nascimento</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            {%for pessoa in object_list %}
            <tr>
                <th>{{pessoa.nome }}</th>
                <th>{{ pessoa.cpf }} </th>
                <th>{{ pessoa.data_nasc }}</th>
                <th><a class="btn btn-default" href="{% url 'pessoa:pessoa_edit' pessoa.id %}"> Editar </a>
                    <a class="btn btn-default" href="{% url 'pessoa:pessoa_delete' pessoa.id %}"> Excluir </a> </th>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    {% else %}
    <p> Não existe nenhum dado de pessoa. Clique em "Add novo" para adcionar um.</p>
    {% endif %}
    <a class="btn btn-primary" type="button" href="{% url 'pessoa:pessoa_new' %}">Add novo</a>
</div>